.jumbotron {
    background-color:  rgba(34, 68, 0, 0.829);
    /* opacity: .3; */
}

main {
    background-image: url("tree.jpg");
    background-size: cover;
}

.content {
    color: white;
    opacity: 1;
}
.fill{
    height: 100vh;
}
li {
    margin: .5em;
}

.card {
    background-color: rgba(255, 255, 255, 0.603);
    padding: 3em;
}